:root {
    --color-sazon: #FFCA42; 
    --color-naranja:#FC6622;
    --color-verde:#29A54B;
    --color-azul:#83DFF8;
    --color-marino:#245BA9;
    --color-rosa: #F097C1;
}


@font-face {
    font-family: "KGHAPPYSolid";
    src: url(../fonts/KGHAPPYSolid.ttf) format('truetype');
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: "KGHAPPYSolid"; */
    /* font-family: "Montserrat", sans-serif; */
    /* background-color: #F5F5F5; */
}

section {
    padding: 3rem 0;
}


p, p > b, li > specific-menu{
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "KGHAPPYSolid";
    padding: 3rem 0 1rem 0;
    margin: 0;
}

h2 {
    padding-bottom: 2rem;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
} 

h3 {
    font-family: "KGHAPPYSolid";
    font-size: 6rem;
    color: white;
    padding-bottom: 2rem;
}

.smaller-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 2rem 0;
}

hr {
    height: 0.3rem;
    background: black;
    opacity: 100;
}

.btn-primary {    
    background-color: var(--color-sazon);
    color: black;
    border: black 0.2rem solid;
    border-radius: 4rem;
    padding: 1rem 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.btn-primary:hover {
    background-color:#d8a420;
    border:#d8a420 0.2rem solid;
}

.btn-custom {
    background-color: var(--color-azul);
    color: black;
    border: black 0.2rem solid;
    border-radius: 4rem;
    padding: 1rem 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.btn-custom:hover {
	background-color: #0d6efd;
    border: #0d6efd 0.2rem solid;
    color: white;
}

.btn-custom p:hover {
	color: white;
}

/* POP UP */

#cookie-popup {
	display: none;
}

#cookie-popup h2 {
    padding: 0;
}

#cookie-popup > div {
	z-index: 999;
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-sazon);
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
	padding: 2rem;
	display: flex;
	flex-direction: column;    
	align-items: center;   
    width: 60%;
}


#cookie-popup p {
    font-size: 2rem;
	color: black;
	padding: 2%;
}

nav:nth-child(2) .btn-primary, #menu_final .btn-primary, #cookie-popup .btn-primary {
    background-color: var(--color-azul);
    color: black;
    padding: 10px 20px;
    border: black 0.2rem solid;
    border-radius: 2rem;
    cursor: pointer;
	display: flex;
	justify-content: center;
}

#cookie-popup .btn-primary {
    padding: 1rem 2rem;
    font-size: 1.75rem;
}

#accept-cookies > .btn-primary > p {
	color: black;
}

/* POP UP SAZON PREMIUM */

.newsletter {
    background: none;
    border: none;
    box-shadow: none;
}

.newsletter form {
    padding: 4rem;
    background-color: var(--color-sazon);
    border: none;
}


/* MENÚ SUPERIOR */

#menu_superior {
    color: white;
    background-color: black;
    font-size: 2rem;
    flex-wrap: wrap;
}

.redes_sociales > ul {
    list-style: none;
    text-decoration: none;
    
}

.redes_sociales li {
    padding: 0 2rem;
    text-decoration: none;
    flex: 1 1 auto;
}

.redes_sociales i {
    color: white;
}


.circulo-on-live {
    width: 1.5rem;                
    height: 1.5rem;   
    background-color: var(--color-sazon);    
    border-radius: 50%;         
    animation: blink 1s infinite; 
}
  
@keyframes blink {
    0%, 100% {
        opacity: 1;  
    }

    50% {
        opacity: 0;  
    }
}

/* MENÚ PRINCIPAL */

nav:nth-child(2) {
    padding: 2rem;
}

.bg-body-tertiary {
    background-color: white !important;
}

nav:nth-child(2) a, nav:nth-child(2) button {
    color: black;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

nav:nth-child(2) li {
    padding: 0 1rem;
}

.espacio {
    margin: 5%;
}

.nav-logo {
    position: relative;
    width: 200px;
}

#logo {
    position: absolute;
    width: 120px;
    top: 0;
    left: 0;
    margin: 0 3rem;
}

    /* NO ME FUNCIONA NO SE POR QUÉ */
                /* .dropdown-item {
                    font-weight: 500;
                } */

nav:nth-child(2) .btn-primary, #menu_final .btn-primary {
    padding: 0.5rem 2rem;
}

header hr {
    margin: 0 5%;
}



/* INTRODUCCION | VIDEO */

#introduccion {
    border-radius: 100px 100px 0 0;
    position: relative;
}

.highlight {
    background-color: var(--color-rosa);
    border-radius: 25px;
    padding: 5px 10px;
    display: inline-block;
}

.video-container {
    margin: 4rem 0;
}

.ratio-16x9 {
    border-radius: 35px;
    overflow: hidden; 
    border: 5px dashed var(--color-sazon);
}

.img-superpuesta {
    position: absolute;
    bottom: -120px;
    left: -100px;
    width: 30%; 
    z-index: 10;
    overflow: hidden;
}

/* INTRODUCCIÓN | NUESTRA HISTORIA */

#nuestra_historia .btn {
    padding: 0;
    color: black;
}

#nuestra_historia h1 {
    padding: 0;
}

#nuestra_historia h2 {
    font-weight: 700;
}

#nuestra_historia p, #nuestra_historia .btn {
    font-size: 1.5rem;
}

#nuestra_historia img {
    width: 80%;
}

/* MARQUEE */

#letrero {
    padding: 0;
}

.marquee {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background-color: #FFCA42;
    padding: 2rem;
}

.marquee-content {
    display: flex;
    min-width: 200%; 
    animation: scroll-text 20s linear infinite;
}

.marquee-content p {
    white-space: nowrap;
    margin: 0;
    padding: 0 2rem; 
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    align-items: center;
    font-size: 2rem;
    padding-right: 0%;
}
  
@keyframes scroll-text {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* GUIA TV */
.guia_tv {
    background-color: var(--color-sazon);
}
/* #guia_tv::after,
#guia_tv::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-color: #FFCA42;
    position: absolute;
}

#guia_tv::after {
    top: 0;
    left: 0;
}

#guia_tv::before {
    top: 0;
    right: 0;
} */

#guia_tv {
    z-index: 1;
    position: relative;
    background-color: black;
    border-radius: 100px 100px 0 0;
}

#guia_tv h1 {
    color: var(--color-azul);
    text-transform: uppercase;
    margin-bottom: 0;
}

#guia_tv .smaller-text {
    color: var(--color-naranja);
    margin-bottom: 0;
}

/* CARROUSEL GUIA TV */

.carousel-container {
    overflow: hidden;
    width: 100%;
    mask-image: linear-gradient(
    var(--mask-direction, to right),
    #21252900,
    #212529 10%,
    #212529 90%,
    #21252900
  );
}

.carousel-row {
    display: flex;
    animation: scroll 15s linear infinite;
}

.slow {
    animation: scroll 20s linear infinite;
}

.carousel-row img {
    width: 40rem;
    margin: 2rem;
    transition: transform 0.3s ease;
}

.image-wrapper {
    position: relative;
}

.image-wrapper img {
    display: block;
    border-radius: 3rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2rem;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 3rem;
}

.overlay h5 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
}

.overlay p {
    font-size: 1.25rem;
    text-align: center;
}
.image-wrapper:hover .overlay {
    opacity: 1;
}

/* Animación para hacer que las imágenes se desplacen de izquierda a derecha */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* RECETAS Y NOTICIAS  */

#recetas_noticias {
    background-color: var(--color-verde);
    border-radius: 100px 100px 0 0;
}

.recetas, .noticias {
    padding-bottom: 6rem;
}

#recetas_noticias .btn-primary {
    background-color: var(--color-sazon);
    width: 60%;
}

#recetas_noticias > div > div {
    padding: 0 8rem;
}

#recetas_noticias figure {
    padding: 3rem;
}

#recetas_noticias img {
    border-radius: 4rem;
    max-width: 100%;
    height: auto;
    display: block; 
}


/* SECCION PREMIUM */

.premium {
    background-color: var(--color-verde);
}

#premium {
    background-color: rgb(255, 255, 255);
    border-radius: 100px 100px 0 0;
    overflow: hidden;
    padding: 0 0 10rem 0;
    text-align: center;
}

#premium h1 {
    line-height: 0.8;
}

#premium h2 {
    font-size: 2.5rem;
}

.smaller-text {
    font-size: 40px;
    display: block;
    margin-bottom: 0;
}

.svg-container {
    position: relative; 
    width: 100%;
    max-width: 800px;
    margin: 2rem auto;
}

#upper-svg {
    position: relative; 
    z-index: 1; 
    width: 50%;
}

#rotating-svg {
    position: absolute; 
    width: 125%;
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 0;
}

.description-text {
    position: relative;
    text-align: center;
}

.text-container {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0 20rem;
    position: relative;

}

.divider {
    border-left: 2px solid black;
    height: 18rem;
    align-items: center;
}


#premium ul {
    padding-left: 2rem;
}

.specific-menu{
    list-style-type: disc;
    margin-bottom: 1rem; 
    text-align: left;
    font-size: 2rem;
}

#premium .btn-primary {
    background-color: var(--color-sazon);
    font-size: 1.5rem;
}

#premium .btn-primary:hover {
    background-color:#d8a420;
}


/* FORM PREMIUM */

form {
    background-color: #F3F3F3;
    border: black 0.2rem solid;
    border-radius: 4rem;
    padding: 5rem;
}

label, .input-group-text, .form-check-input, .form-control {
    font-size: 2rem;
}

form p {
    font-size: 1.5rem;
}

/* TIENDA */

#tienda {
    background-color: var(--color-marino);
    border-radius: 100px 100px 0 0;
}

#tienda h1 {
    color: var(--color-azul);
}

/* .secciones_tienda {
    padding: 2rem;
} */

#tienda img {
    border: 10px dashed var(--color-sazon);
    /* margin: 4rem 0; */
    width: 80%;
}


/* MENU FINAL */

#menu_final {
    background-color: var(--color-sazon);
}

.logo {
    position: absolute;
    bottom: 75%;
    left: 0;
    display: flex;
    justify-content: center;
}

#menu_final figure {
    width: 10rem;
}

#menu_final h1 {
    margin: 7rem 0 0 0;
}

#menu_final .btn-primary {
    left: 45%;
    font-size: 1.5rem;
}

#menu_final hr {
    margin: 4rem 0;
}


#secciones_menu {
    margin: 0 0 2rem 0;
}

#secciones_menu ul {
    list-style: none;
    font-size: 2rem;
    font-weight: 600;
}

#secciones_menu li {
    margin: 0 1rem 0 0.5rem;
}


/* PATROCINADORES */

#patrocinadores {
    background-color: #FFEABB;
}

#patrocinadores .marquee {
    background-color: #FFEABB;
}

.logos_patrocinadores img {
    width: 10%;
    padding: 0 4rem;
}

/* FOOTER */

footer {
    padding: 3%;
    color: white;
    background-color: black;
}

footer p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

/* TIENDA.HTML */

#titulo > h1 {
    color: var(--color-marino);
    font-size: 8rem;
    margin-top: 2rem;
}

figure, img {
    width: 100%;
    border-radius: 3em;
}


#merchandasing .btn-primary, #menaje .btn-primary, #libros .btn-primary {
    
    border: 0;
    background-color: var(--color-azul);
    margin-top: 1rem;
}

#merchandasing h4, #menaje h4, #libros h4 {
    color: white;
    font-size: 3rem;
    text-align:left;
}
.col-12.titulo > hr {
    border: none !important;
    border-top: 0.3rem dashed white !important;
    background: none;
    width: 50% !important; 
    margin: 0;
    margin-bottom: 3em;

}

#merchandasing, #menaje, #libros {
    padding: 8rem 0;
}


.menaje {
    background-color: var(--color-rosa);
}

.libros {
    background-color: var(--color-naranja);
}

.menu_final {
    background-color: var(--color-marino);
}

/* .hr-titulo-unico {
   
    border: 1px solid white !important; 
    width: 50% !important; 
    margin: 20px auto !important; 
    position: relative;
    z-index: 10; 
} */

                /* NO ME FUNCIONA NO SE POR QUÉ

                #titulo > hr, #menaje > hr, #libros > hr {
                    color: white;
                    border-style: dashed;
                } */

/* MERCHANDASING */

#merchandasing {
    background-color: var(--color-rosa);
    border-radius: 100px 100px 0 0;
}

/* MENAJE */

#menaje {
    background-color: var(--color-naranja);
    border-radius: 100px 100px 0 0;
}

/* LIBROS */

#libros {
    background-color: var(--color-marino);
    border-radius: 100px 100px 0 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1500px){
    .display-1 {
        font-size: 4rem;
    }

    #cookie-popup > div {
        width: 80%;
    }

    #nuestra_historia p, #nuestra_historia .btn {
        font-size: 1.25rem;
    }

    #premium {
        padding: 0;
    }

    h3 {
        font-size: 4rem;
    }

    #recetas_noticias > div > div {
        padding: 0 5rem;
    }

    #recetas_noticias figure {
        padding: 1rem;
    }

    #recetas_noticias img {
        border-radius: 3rem;
    }

    .text-container {
        padding: 10rem;
    }

    .logos_patrocinadores img {
        width: 15%;
        padding: 0 4rem;
    }
}

@media screen and (max-width: 1100px){

    #introduccion h1 {
        padding: 0;
    }
    .carousel-row img {
        width: 30rem;
    }

    .text-container {
        padding: 0;
    }

    .noticias {
        padding-bottom: 0;
    }

    #tienda img {
        width: 60%;
    }
    
    .logos_patrocinadores img {
        width: 15%;
        padding: 0 2rem;
    }

}

@media screen and (max-width: 800px){
    .display-1 {
        font-size: 3rem;
    }

    #recetas_noticias img {
        display: block; 
        max-width: 100%;
        height: auto;
    }

    .recetas {
        padding-bottom: 1rem;
    }

    #tienda img {
        width: 80%;
    }

    #menu_final h1 {
        margin: 0;
    }

    .btn-recetas, .btn-noticias {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    /* TIENDA.HTML */
    #merchandasing h4 {
        font-size: 2.5rem; 
    }
    #merchandasing {
        padding: 4rem 0; /* Reduce el padding en pantallas pequeñas */
    }
}

/* TABLET  - BREAKPOINT */
/* TIENDA */



/* MEDIA QUERIE 800PX lo he copiado en el read.me para hacer unas comprobaciones */