:root {
    --color-sazon: #FFCA42; 
    --color-naranja:#FC6622;
    --color-verde:#29A54B;
    --color-azul:#83DFF8;
    --color-marino:#245BA9;
    --color-rosa: #F097C1;
}

@font-face {
    font-family: "KGHAPPYSolid";
    src: url(fonts/KGHAPPYSolid.ttf) format('truetype');
}

@font-face {
    font-family: 'Helvetica Neue', sans-serif;
    src: url('https://fonts.cdnfonts.com/css/helvetica-neue-55');                                           
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: KGHAPPYSolid;
    
    /* font-size: 10px; */
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Saira Semi Condensed', sans-serif; */
}


#recetas_noticias {
    background-color: var(--color-verde);
}
